* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #00a2a8;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
/*****************/
.square {
  background-color: rgba(116, 219, 219, 0.6);
  height: 6rem;
  width: 6rem;
  display: flex;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  box-shadow: -1px -1px 5px 0px inset #f1f1f1;
  transition: all 0.5s;
}
.square:hover {
  background-color: rgba(116, 219, 219, 0.9);
}
.square.clicked {
  background-color: #00a1bd;
  cursor: not-allowed;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
}
.nextPlayer {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: bolder;
  color: #fff;
  padding: 5px;
  letter-spacing: 1px;
  background-color: #1b6471;
  transform: skewX(-10deg);
  border-right: #fff 5px solid;
}
/*****************/
.end-game-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0f1700;
  opacity: 0.8;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.btn {
  padding: 1rem;
  background-color: #00a1bd;
  box-shadow: -1px -1px 5px 0px inset #0f1700;
  color: rgb(202, 49, 49);
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  background-color: rgba(116, 219, 219, 0.9);
}
.draw-text,
.win-text {
  font-size: 2.3rem;
  padding-bottom: 6px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: white;
  border-bottom: dashed rgb(202, 49, 49) 2px;
}
.win-history {
  color: white;
  font-size: 1.8rem;
  padding-bottom: 10px;
}
